[data-theme="dark"] {
    --background-color: #121212;
    --text-color: #fff;
    --section-background: #1e1e1e;
    --section-border: #333;
    --heading-color: #fff;
    --paragraph-color: #ccc;
}

[data-theme="light"] {
    --background-color: #fff;
    --text-color: #000;
    --section-background: #f4f4f4;
    --section-border: #ddd;
    --heading-color: #2d2d2d;
    --paragraph-color: #555;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Georgia, serif;
    transition: background-color 0.3s, color 0.3s;
}

.carrusel {
    width: 80%;
    margin: 50px auto;
    margin-top: 100px;
}

h2, h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.swiper-container {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background-color: var(--carrusel-bg);
}

.swiper-slide {
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--carrusel-bg);
    border-radius: 10px;

}

.swiper-slide img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
    object-fit: contain;
    border-radius: 10px;
}

.swiper-slide p {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--carrusel-text);
    background-color: var(--carrusel-caption-bg);
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 5px;
    text-align: center;
}

/* Estilos de los botones de navegación */
.swiper-button-next, .swiper-button-prev {
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-button-next::after, .swiper-button-prev::after {
    font-size: 20px;
}

/* Estilos de la paginación */
.swiper-pagination-bullet {
    background: var(--carrusel-text);
    opacity: 0.5;
    opacity: 0.5;
    width: 10px;
    height: 10px;
    margin: 0 5px;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #008CBA;
}

.facebook-comments {
    padding: 30px;
    background-color: var(--section-background);
    border: 1px solid var(--section-border);
    border-radius: 10px;
    margin-top: 50px;
    text-align: center;
}

/* Ajuste de los iframe de los comentarios de Facebook */
.fb-comments iframe {
    width: 100% !important;
    transition: background-color 0.3s, color 0.3s;
}